

body{
  background-color: #F6F6F6;

}
.news-block{
    display: block;
  margin-top: 100px;
}
.news-item{
  animation-name: show-news-item;
  animation-duration: 3s;

}


@keyframes show-news-item {
  from{opacity: 0;}
  to{opacity: 1;}
}
