#label-page{
  animation-name: show;
  animation-duration:2s;
  position: absolute;
top: 150px;
  }
@keyframes show {
    0%   { left:0px; top:0px;}
    100% { left:0px; top:150px;}
}

body{
  background-color: #F6F6F6;

}
.news-block{
  justify-content: space-between;
  display: flex;
  width: 70%;
  margin: 300px  auto 150px auto;


}
.news-item{
  animation-name: show-news-item;
  animation-duration: 3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20%;
  height: 500px;
  text-align: center;

  background-color: white;
}
.news-item img{
  width: 100%;
}

.news-text{
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
@keyframes show-news-item {
  from{opacity: 0;}
  to{opacity: 1;}
}
